<div *ngIf="form; else loading">

    <div class="task">
      <div class="header">
        <span>Редактирование задачи: <h1>{{task.title}}</h1></span>
      </div>

      <div class="description">
        <p>{{task.description}}</p>
      </div>

      <div class="date">
        {{task.createdDate | date:'dd LLLL yyyy, HH:mm'}}
      </div>
    </div>
  
  <div class="form">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div
        class="form-control"
        [ngClass]="{invalid: form.get('status').touched && form.get('status').invalid}"
      >
        <label for="status">Изменить статус выполнения задачи:</label>
        <select name="status" formControlName="status">
          <option value="План">План</option>
          <option value="В процессе">В процессе</option>
          <option value="Готово">Готово</option>
        </select>
        <div
          class="validation"
          *ngIf="form.get('status').touched && form.get('status').invalid"
        >
          <small *ngIf="form.get('status').errors.required">
            Выберите статус
          </small>
        </div>
      </div>

      <div *ngIf="form.get('status').value==='Готово'">
        <p>Затраченное время: {{time}}</p>
      </div>

      <div
        class="form-control"
        [ngClass]="{invalid: form.get('planTime').touched && form.get('planTime').invalid}"
        *ngIf="form.get('status').value!=='Готово'"
      >
        <label for="planTime">Изменить время выполнения (часов):</label>
        <input type="number" id="planTime" formControlName="planTime">
        <div
          class="validation"
          *ngIf="form.get('planTime').touched && form.get('planTime').invalid"
        >
          <small *ngIf="form.get('planTime').errors.required">
            Введите планируемое время
          </small>
        </div>
      </div>

      <button
        type="submit"
        class="button"
        [disabled]="form.invalid || isSubmit"
      >Обновить</button>

      <button
        type="button"
        class="button"
        [routerLink]="['']"  
      >Отмена</button>

    </form>    
  </div>  

</div>

<ng-template #loading>
  <p>Идет загрузка...</p>
</ng-template>

